<div class="container d-flex flex-column vh-100 justify-content-center">
  <h2 class="offset-3">Log In</h2>
  <form #form="ngForm" (ngSubmit)="logIn(form)" class="offset-3">
    <div class="form-group mt-3">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        ngModel
        required
      />
    </div>
    <div class="form-group mt-3">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        ngModel
        required
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="form.invalid"
    >
      Log In
    </button>
  </form>
</div>
