<div class="container d-flex flex-column vh-100 justify-content-center">
  <h2 class="offset-3">Register to website</h2>
  <form #form="ngForm" (ngSubmit)="register(form)" class="offset-3">
    <div class="form-group mt-3">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        required
        ngModel
      />
    </div>
    <div class="form-group mt-3">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
        ngModel
      />
    </div>
    <div class="form-group mt-3">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        required
        ngModel
      />
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-info mt-3">
      Register
    </button>
  </form>
  <p>
    <a class="nav-link" [routerLink]="['login']" routerLinkActive="active"
      >Or Login</a
    >
  </p>
</div>
