<h1 class="text-center my-4">Our Movies</h1>

<div class="container">
  <div class="row">
    <div class="col-4 mt-3" *ngFor="let movie of movies; let i = index">
      <div class="card h-100">
        <img
          src="http://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text text-truncate">
            {{ movie.overview }}
          </p>
          <div>
            <div>
              <span>Release date: {{ movie.release_date }}</span>
            </div>
            <div class="mt-2">
              <span><i class="far fa-star"></i> {{ movie.vote_average }}</span>
            </div>
          </div>
          <div class="mt-2">
            <i
              class="fas fa-heart"
              (click)="handleFav(movie.id)"
              [ngClass]="{
                'text-danger': checkFav(movie.id),
                'text-secondary': !checkFav(movie.id)
              }"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
